#!/usr/bin/make -f

export DH_VERBOSE=1
export TEXMFCACHE=/tmp/texmf-var

.PHONY : TeXdirs

%:
	dh $@

override_dh_auto_build-indep: TeXdirs
	$(MAKE)

override_dh_auto_install-indep:
	$(MAKE) dist

override_dh_auto_clean:
	$(MAKE) dist-clean

TeXdirs:
	mkdir -p "$TEXMFCACHE"
