*.aux
*.idx
*.toc
*.log
*.ind
*.ilg
*.out
*.fdb_latexmk
*.fls
*.html
*.dvi
*.4ct
*.4dx
*.4ix
*.4tc
*.idv
*.lg
*.tmp
*.xref
*.synctex.gz
*.pdf
src/*/html/*.tex
src/*/html/index.css
src/*/html/*.sty
src/*/html/images
src/*/html/index*.png
/html/
/pdf/
